<p>login works!</p>

<div class="container">
    <div>
        <div class="mb-3">
          <label for="name" class="form-label">Felhasználónév</label>
          <input type="text" class="form-control" id="name"
          [(ngModel)]="name"
          >          
        </div>
        <div class="mb-3">
          <label for="pass" class="form-label">Jelszó</label>
          <input type="password" class="form-control" id="pass"
          [(ngModel)]="pass"
          >
        </div>

        <button type="button" class="btn btn-primary"
        (click)="login()"
        >
            Belépés
        </button>
    </div>
    
    
</div>